<!DOCTYPE html>
<html>
<head>
    <title>Would you like to register and list your properties?</title>
    <style>
        body {
            text-align: center; background-color: lightgray;
        }
    </style>
</head>
<body>
    <h3>Please enter your details below</h3>

    <p><input type="text" id="myTextBox" placeholder="First name"></p>
    <p><input type="text" id="myTextBox" placeholder="Surname"></p>
    <p><input type="text" id="myTextBox" placeholder="Username"></p>
    <p><input type="text" id="myTextBox" placeholder="Password"></p>
</body>