<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>_Property Overview</title>
    <style>
        body {
            text-align: left;
            background-color: rgb(245, 245, 245);
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 300;
        }
    </style>
</head>
<body>
    <h1>Property name: {{property.name}}</h1>
    <h3>Location: {{property.city}}</h3>
    <h3>Description: {{property.property_description}}</h3>
    <p>
         
    </p>
    <p>Would you like to book?</p>
    <p>
        <input type="text" placeholder ="Username" name = "username">
    </p>
    <p>    
        <input type="text" placeholder ="Password" name = "user_password">
    </p>
    <p>
        <input type="text" placeholder ="Start date: 'YYYY-MM-DD'" name = "start_date">
    </p>
    <p>
        <input type="text" placeholder ="End date: 'YYYY-MM-DD'" name = "end_date">
    </p>



    <p><a href="/home">Return to properties overview</a></p>
</body>
</html>